[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IDSL.IPA"]
	path = IDSL.IPA
	url = https://github.com/idslme/idsl.ipa
	shallow = true
	subdir = IDSL.IPA
	registered = true
[submodule "IDSL.SUFA"]
	path = IDSL.SUFA
	url = https://github.com/idslme/idsl.ufa
	shallow = true
	subdir = IDSL.SUFA
	registered = true
[submodule "IDSL.UFA"]
	path = IDSL.UFA
	url = https://github.com/idslme/idsl.ufa
	shallow = true
	subdir = IDSL.UFA
	registered = true
[submodule "IDSL.UFAx"]
	path = IDSL.UFAx
	url = https://github.com/idslme/idsl.ufa
	shallow = true
	subdir = IDSL.UFAx
	registered = true
