[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IDSL.CSA"]
	path = IDSL.CSA
	url = https://github.com/idslme/idsl.csa
	subdir = IDSL.CSA
[submodule "IDSL.FSA"]
	path = IDSL.FSA
	url = https://github.com/idslme/idsl.fsa
	subdir = IDSL.FSA
[submodule "IDSL.IPA"]
	path = IDSL.IPA
	url = https://github.com/idslme/idsl.ipa
	subdir = IDSL.IPA
[submodule "IDSL.MXP"]
	path = IDSL.MXP
	url = https://github.com/idslme/idsl.mxp
	subdir = IDSL.MXP
[submodule "IDSL.NPA"]
	path = IDSL.NPA
	url = https://github.com/idslme/idsl.npa
	subdir = IDSL.NPA
[submodule "IDSL.SUFA"]
	path = IDSL.SUFA
	url = https://github.com/idslme/idsl.sufa
	subdir = IDSL.SUFA
[submodule "IDSL.UFA"]
	path = IDSL.UFA
	url = https://github.com/idslme/idsl.ufa
	subdir = IDSL.UFA
[submodule "IDSL.UFAx"]
	path = IDSL.UFAx
	url = https://github.com/idslme/idsl.ufax
	subdir = IDSL.UFAx
